services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    environment:
      - MLFLOW_SECURITY_MODE=disabled
    command: >
      mlflow server
      --host 0.0.0.0
      --port 8000
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root /mlflow/artifacts
      --serve-artifacts
      --allowed-hosts mlflow_server,trainer_service,localhost,127.0.0.1,mlflow
      --cors-allowed-origins *
    ports:
      - "8000:8000"
    volumes:
      - ./mlflow_data:/mlflow

  trainer:
    build:
      context: ./train
      dockerfile: Dockerfile.train
    container_name: trainer_service
    depends_on:
      - mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow_server:8000
    command: python src/train.py
    volumes:
      - ./mlflow_data/artifacts:/mlflow/artifacts
